body {
    font-family: Arial;
    margin: 0;
    background-color: rgb(197, 255, 255);
    background-size: cover;
    padding: 0;
}

/* Sidebar navigation */
.sidebar {
    background-color: #333;
    width: 200px;
    height: 100%; /* Full height of the page */
    position: fixed; /* Fixes sidebar to the left */
    top: 0;
    left: 0;
    padding: 1rem;
    color: white;
}

.sidebar h2 {
    color: white;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px; /* Reduce sidebar width on smaller screens */
    }

    .content {
        margin-left: 200px;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 100%; /* Full-width sidebar for small devices */
        height: auto; /* Adjust height */
        position: relative; /* Make the sidebar scroll with the page */
    }

    .content {
        margin-left: 0;
    }
}

/* Header */
header {
    padding: 60px;
    text-align: center;
    /*color: rgb(255, 255, 255); */
    font-size: 30px;
    background-image: url('Sunset.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

section {
    padding: 2rem;
    background-color: #f4f4f4;
}

.content {
    color: black;
    font-size: 18px;
}

